
body {
  font-family: 'Comfortaa', cursive;
  overflow-x: hidden;
}

a {
  color: cyan;
  text-decoration: none;
}

a:hover,
a:focus {
  color: white;
}

img {
  vertical-align: middle;
}

ul {
  list-style: disc outside;
  margin-bottom: 0px;
}

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  height: 50px;
  line-height: 50px;
  margin: 4px;
  padding: 0 30px 0 25px;
  border-radius: 100px;
}

.button.button-primary,
button.button-primary,
input[type='submit'].button-primary,
input[type='reset'].button-primary,
input[type='button'].button-primary {
  color: dimgray;
  background-color: #FFF200;
  border-color: #FFF200;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type='submit'].button-primary:hover,
input[type='reset'].button-primary:hover,
input[type='button'].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type='submit'].button-primary:focus,
input[type='reset'].button-primary:focus,
input[type='button'].button-primary:focus {
  color: dimgray;
  background-color: white;
  border-color: white;
}

.button.button-red,
button.button-red,
input[type='submit'].button-red,
input[type='reset'].button-red,
input[type='button'].button-red {
  color: white;
  background-color: red;
  border-color: red;
}

.button.button-red:hover,
button.button-red:hover,
input[type='submit'].button-red:hover,
input[type='reset'].button-red:hover,
input[type='button'].button-red:hover,
.button.button-red:focus,
button.button-red:focus,
input[type='submit'].button-red:focus,
input[type='reset'].button-red:focus,
input[type='button'].button-red:focus {
  color: dimgray;
  background-color: white;
  border-color: white;
}

.button.button-blue,
button.button-blue,
input[type='submit'].button-blue,
input[type='reset'].button-blue,
input[type='button'].button-blue {
  color: white;
  background-color: blue;
  border-color: blue;
}

.button.button-blue:hover,
button.button-blue:hover,
input[type='submit'].button-blue:hover,
input[type='reset'].button-blue:hover,
input[type='button'].button-blue:hover,
.button.button-blue:focus,
button.button-blue:focus,
input[type='submit'].button-blue:focus,
input[type='reset'].button-blue:focus,
input[type='button'].button-blue:focus {
  color: dimgray;
  background-color: white;
  border-color: white;
}

table.center td {
  text-align: center;
}

td.center {
  text-align: center;
}

td.strong {
  color: yellow;
  /* font-weight: 900; */
  font-size: 1.8rem;
}

.wf-roundedmplus1c { font-family: 'Rounded Mplus 1c'; }

@font-face {
  font-family: 'JF-Dot-MPlusS10_WebSubsetFont_1';
  src: url('../font/JF-Dot-MPlusS10_WebSubsetFont_1.woff2') format('woff2');
}

@font-face {
  font-family: 'JF-Dot-MPlusS10B_WebSubsetFont_1';
  src: url('../font/JF-Dot-MPlusS10B_WebSubsetFont_1.woff2') format('woff2');
}

.dot {
  font-family: 'JF-Dot-MPlusS10_WebSubsetFont_1';
  /* font-smoothing: none; */
}

.dot-b {
  font-family: 'JF-Dot-MPlusS10B_WebSubsetFont_1';
  /* font-smoothing: none; */
}

.mini {
  font-size: 1.2rem;
}

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.first-section {
  padding: 4rem 0 7rem;
}

.second-section {
  padding: 12rem 0 7rem;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

#title {
  background-image: url('../image/background_first.jpg');
  background-size: cover;
  color: #f8f8f8;
}

.download {
  margin-top: 40px;
  text-align: center;
}

.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}

#screenshots {
  background-image: url('../image/background_second.jpg');
  background-size: cover;
  color: #f8f8f8;
}

#screenshots .section-heading {
  margin-bottom: 2rem;
}

#screenshots .section-description {
  margin-bottom: 4rem;
}

.screenshot {
  margin: 8px 0;
  /* box-shadow: 4px 4px rgb(116, 110, 0); */
  box-shadow: 4px 4px #FFF200;
}

#howto {
  background-image: url('../image/background_yellow.jpg');
  background-size: cover;
  /* background: #FFF200; */
  /* border-bottom: 1px solid #ddd; */
}

.author {
  margin-top: 80px;
}

.balloon  {
  font-size: 1.8rem;
  text-align: left;
}

.balloon {
  position: relative;
  display: inline-block;
  margin: 2rem 0;
  padding: 20px;
  min-width: 120px;
  max-width: 100%;
  color: #f8f8f8;
  font-size: 1.4rem;
  background: #555555;
  border: solid 2px #AAAAAA;
  box-sizing: border-box;
  border-radius: 15px;
}

.balloon:before{
  content: '';
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -12px;
  border: 12px solid transparent;
  border-bottom: 12px solid #555555;
  z-index: 2;
}

.balloon:after{
  content: '';
  position: absolute;
  top: -29px;
  left: 50%;
  margin-left: -14px;
  border: 14px solid transparent;
  border-bottom: 14px solid #AAAAAA;
  z-index: 1;
}

.balloon img {
  margin: 0 0 42px 0;
}

.balloon p {
  margin: 0;
  padding: 0;
}

#spec {
  background-image: url('../image/background_gray.jpg');
  background-size: cover;
  color: #f8f8f8;
}

#spec .section-description {
  margin-bottom: 4rem;
}

#walk {
  background-image: url('../image/background_yellow.jpg');
  background-size: cover;
  /* background: #FFF200; */
  /* border-bottom: 1px solid #ddd; */
}

.step {
  margin-top: 80px;
}

#date {
  font-size: 2rem;
}

.weather {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

#weather {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

#contacts {
  background-image: url('../image/background_last.jpg');
  background-size: cover;
  color: #f8f8f8;
}

#contacts .section-description {
  margin-bottom: 4rem;
}

.contact {
  margin: 4px;
}

.contact img {
  margin: 10px 0;
}

.contact-heading {
  margin-bottom: 3rem;
}

.contact-heading a {
  color: #FFF200;
}

.contact-heading a:hover,
.contact-heading a:focus
 {
  color: white;
}

.contact-description {
  opacity: .8;
  font-weight: 300;
}

#top-image {
  max-width: 100%;
  height: auto;
}

#counter {
  margin-top: 8px;
  font-size: 2rem;
}

.top_fore {
  background-image: url('../image/bg/bg_top_fore.png');
  background-size: cover;
  color: #f8f8f8;
}

.top_back {
  background-image: url('../image/bg/bg_top_back.png');
  background-size: cover;
  color: #f8f8f8;
}

.about_fore {
  background-image: url('../image/bg/bg_about_fore.png');
  background-size: cover;
}

.about_back {
  background-image: url('../image/bg/bg_about_back.png');
  background-size: cover;
  color: #f8f8f8;
}

.tin-tilo-rings_first {
  background-image: url('../image/bg/bg_tin-tilo-rings_first.png');
  background-size: cover;
  color: #f8f8f8;
  padding-bottom: 7rem;
}

.tin-tilo-rings_second {
  background-image: url('../image/bg/bg_tin-tilo-rings_second.png');
  background-size: cover;
  color: #f8f8f8;
}

.tin-tilo-rings_fore {
  background-image: url('../image/bg/bg_tin-tilo-rings_fore.png');
  background-size: cover;
  color: #f8f8f8;
}

.tin-tilo-rings_back {
  background-image: url('../image/bg/bg_tin-tilo-rings_back.png');
  background-size: cover;
  color: #f8f8f8;
}

.h-colour_first {
  background-image: url('../image/bg/bg_h-colour_first.png');
  background-size: cover;
  color: #f8f8f8;
}

.h-colour_second {
  background-image: url('../image/bg/bg_h-colour_second.png');
  background-size: cover;
  color: #f8f8f8;
}

.h-colour_fore {
  background-image: url('../image/bg/bg_h-colour_fore.png');
  background-size: cover;
}

.h-colour_back {
  background-image: url('../image/bg/bg_h-colour_back.png');
  background-size: cover;
  color: #f8f8f8;
}

.bbs_fore {
  background-image: url('../image/bg/bg_bbs_fore.png');
  background-size: cover;
}

.bbs_back {
  background-image: url('../image/bg/bg_bbs_back.png');
  background-size: cover;
  color: #f8f8f8;
}

.navi {
  position: absolute;
  top: 0;
  z-index: 999;
}

#back-to-top {
  background: black;
}

#back-to-top a {
  opacity: .8;
}

#back-to-top a:hover,
#back-to-top a:focus {
  opacity: 1;
}

.pc-table { display: none; }
.phone-table { display: table; }

/* Bigger than 550 */
@media (min-width: 550px) {
  .four.columns  {
    width: 20%;
  }
  .section {
    padding: 12rem 0 11rem;
  }
  .first-section {
    padding: 2rem 0 11rem;
  }
  .second-section {
    padding: 18rem 0 11rem;
  }
  #title {
    /* padding-bottom: 12rem;
    text-align: left; */
    height: 165px;
  }
  .title-heading {
    font-size: 2.4rem;
  }
  .phone {
    position: absolute;
    top: -9rem;
    right: 3rem;
    max-height: 362px;
    z-index: 30;
  }
  .pc-table { display: table; }
  .phone-table { display: none; }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 14rem 0 15rem;
  }
  .first-section {
    padding: 5rem 0 15rem;
  }
  .second-section {
    padding: 24rem 0 15rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  #title {
    /* height: 190px;
    padding: 16rem 0 14rem; */
  }
  .title-heading {
    font-size: 2.6rem;
  }
  .phone {
    top: -13rem;
    right: 5rem;
    max-height: 510px;
  }
  #walks {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .first-section {
    padding: 10rem 0 19rem;
  }
  .second-section {
    padding: 32rem 0 19rem;
  }
  #title {
    /* padding: 22rem 0; */
  }
  .title-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -20rem;
    max-height: 615px;
  }
}
